body{
    font-family: Roboto;
}

.navbar-wrapper{
    display:flex;
    align-items: center;
    background-color: #343A40;
    margin: 0 182px;
    border-radius: 0 0 6px 6px;
    height:58px;
}

.navbar-text{
    display:flex;
    align-items: center;
    margin-left:35.87px;
}

.selected{
    color:#FFFFFF !important
}

.nav-text{
    margin-right:45px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.nav-text:hover{
    color:white;
}
